<form [formGroup]="fg" (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre" [formControl]="fg.controls['nombre']" />
        <div *ngIf="fg.controls['nombre'].invalid && fg.controls['nombre'].touched" class="invalid-feedback">
            Ingrese el nombre
        </div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre') && fg.controls['nombre'].touched" class="invalid-feedback">
            Nombre invalido
        </div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre') && fg.controls['nombre'].touched" class="invalid-feedback">
            Debe tener al menos {{ minLongNombre }} de largo
        </div>
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
    </div>
    <div class="form-group">
        <label for="Imagen	Url">Imagen Url</label>
        <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url" [formControl]="fg.controls['url']" />
        <div *ngIf="fg.controls['url'].invalid && fg.controls['url'].touched" class="invalid-feedback">
            Ingrese la url
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2" *ngIf="fg.valid">Guardar!</button>
    <!-- https://placeimg.com/380/230/nature -->
</form>