<div class="card-content mb-3">
    <div class="card-img">
        <img src="{{destino.url}}" alt="">
        <!-- https://placeimg.com/380/230/nature -->
        <br/>
        <span>
            <h4 >{{ posicion }}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Servicios</p>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of destino.servicios">
                <span [ngSwitch]="item">
                    <i *ngSwitchCase="'desayuno'" style="color: red;">
                        {{ item }}
                    </i>
                    <i *ngSwitchDefault>
                        {{ item }}
                    </i>
                </span>
            </li>
        </ul>
        <div>
            <a href="#" (click)="voteUp()">
                <i class="material-icons md-18">thumb_up</i>
            </a> &nbsp;
            <a href="#" (click)="voteDown()">
                <i class="material-icons md-18">thumb_down</i>
            </a> &nbsp; Votos: {{destino.votes}}
        </div>
        <br/>
        <a href="#" (click)="ir()" class="btn-card mt-8">IR!</a>
        <span *ngIf="destino.isSelected()">
            <span ngNonBindable>{{PREFERIDO}}</span>
        </span>
        <a [routerLink]="['/destino', destino.id]">Ver!</a>
    </div>
</div>