<div class="container content">

    <div class="page-header">
        <div class="container">
            <h1>Routeo simple</h1>
            <div class="navLinks">
                <a [routerLink]="[ '/home' ]">Home</a>
                <a [routerLink]="[ '/destino' ]">Destino detalle</a>
            </div>
        </div>
    </div>

    <div class="row">
        <h1>{{ title }}</h1>
    </div>

    <router-outlet></router-outlet>
</div>

<hr class="mb-5" /> Fecha: {{ time | async }}

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->